//- Also update blender_fund_main/templates/email/managed_memb_notif.txt
| {% extends "email_layout.html" %}
| {% block body %}
p Hi Ton,

p.
	{{ user.customer.full_name|default:user.email }} has a {{ membership.level.name }} membership that just
	passed its 'next payment' date.

p.
	Check out #[a(href='{{ memb_admin_url }}') the membership] and/or
	#[a(href='{{ subs_admin_url }}') the subscription] in the Dev Fund admin.

| {% endblock %}
