//- Also update blender_fund_main/templates/email/membership_bankinfo.txt
| {% extends "email_layout.html" %}
| {% block body %}

p Dear {{ customer.full_name|default:user.email }},

p.
	Thank you for joining the Blender Development Fund. You chose to pay
	for your {{ membership.level.name }} membership by bank transfer, which
	means that we will be waiting for you to perform this transfer.

p Your membership will be activated as soon as we have handled your bank transfer.

p
	strong Blender Fund Membership subs-{{ subscription.id }}

p Please send your payment to:

p
	pre.
		Stichting Blender Foundation
		Buikslotermeerplein 161
		1025 ET Amsterdam, the Netherlands

		Bank: ING Bank
		Bijlmerdreef 109
		1102 BW Amsterdam, the Netherlands

		BIC/Swift code: INGB NL 2A
		IBAN: NL45 INGB 0009356121 (for Euro countries)

		Tax number NL 8111.66.223

p You can always go to #[a(href='{{ link }}') {{ link }}] to view and update your membership.
| {% endblock %}
