//- Also update blender_fund_main/templates/email/payment_soft-failed.txt
| {% extends "email_layout.html" %}
| {% block body %}
p Dear {{ customer.full_name|default:email }},

p.
	Automatic payment of your Blender Development Fund membership failed. Don't worry, we will
	#[strong automatically try again] soon. This was collection attempt
	{{ order.collection_attempts }} of {{ maximum_collection_attemps }}. If things still fail
	after that, we'll send you another email.

p The error we received from the payment provider was: {{ failure_message }}.

p.
	For now you can either wait for another automatic try, or visit
	#[a(href='{{ pay_url }}') {{ pay_url }}] to pay manually.

p.
	You can always go to #[a(href='{{ membership_url }}') {{ membership_url }}] to
	view and update your membership.
| {% endblock %}
