| {% extends "blender_fund/empty_page.html" %}
| {% load looper %}

| {% block content %}
.checkout-container
	section.checkout
		header
			.d-flex.justify-content-between
				a.text-muted(href="/")
					| #[i.fa.fa-angle-left.pr-3] Blender Development Fund
				a(title="Change plan",
					href="{% url 'looper:checkout_choose_plan_variation' plan_id=plan.id current_plan_variation_id=plan_variation.id %}")
					| Plan variations available

			section.plan-info.d-flex.align-items-center
				h2.my-0.pt-4 {{ plan.description }}

				h2.ml-auto.text-secondary.my-0.pt-4
					a(title="Change plan",
						href="{% url 'looper:checkout_choose_plan_variation' plan_id=plan.id current_plan_variation_id=plan_variation.id %}")
						span {{ plan_variation|pricing }}

		hr
		| {% block after_header %}{% endblock %}
| {% endblock %}
