//- TODO(Sybren): deduplicate this and checkout.pug
| {% extends "blender_fund/empty_page.html" %}
| {% load looper %}

| {% block content %}
.checkout-container
	section.checkout
		header
			a.text-muted(href="/")
				| #[i.fa.fa-angle-left.pr-3] Blender Development Fund

			section.plan-info.d-flex.align-items-center
				h2.my-0.pt-4 {{ plan.description }}

				h2.ml-auto.text-secondary.my-0.pt-4
					span {{ order.price.with_currency_symbol }} for {{ subscription.interval_length }} {{ subscription.interval_unit }}

		hr

		form#payment-form.checkout-form(method='post')
			| {% csrf_token %}
			section.checkout-form-fields
				ul.form
					| {{ form.as_ul }}
				#gateway-errors
			hr

			button#submit_button.btn-success.form-submit(type='submit')
				span Pay {{ order.price.with_currency_symbol }}

script(src='https://js.braintreegateway.com/web/dropin/1.13.0/js/dropin.min.js')
script.
	let client_token = '{{ client_token }}';
	$("div[data-gateway-name='braintree']").braintree_gateway_group(
		'#submit_button', '#gateway-errors',
		'#id_payment_method_nonce', client_token);

| {% endblock %}
