| {% extends "blender_fund/empty_page.html" %}
| {% load looper %}

| {% block content %}
.checkout-container
	section.checkout
		header
			a.text-muted(href="/")
				| #[i.fa.fa-angle-left.pr-3] Blender Development Fund

			section.plan-info.d-flex.align-items-center
				h2.my-0.pt-4 Not your payment link

		hr

		p You seem to have followed someone else's payment link.

| {% endblock %}
