| {% extends "blender_fund/layout.html" %}

| {% block page_header %}
.featured.nav-hidden
	.container
		.featured-content
			h1 Development Fund - {% block header_title %}{% endblock %}

	.featured-overlay(style='background-image: none; background-color: #0a0a0a;opacity: 0.3;')

| {% block nav_secondary %}
| {% include "blender_fund/_navbar_secondary.html" %}
| {% endblock nav_secondary %}

| {% block navbar_tertiary %}{% endblock navbar_tertiary %}
| {% endblock page_header %}


| {% block content %}
.container.py-3
	.row
		.col-md-8.mx-auto
			.box.flatpage.p-5
				h2.mt-0 {% block box_title %}{% endblock %}
				| {% block box_content %}{% endblock %}
| {% endblock content %}
