| {% extends "blender_fund/layout_simple_box.html" %}
| {% load wagtailcore_tags %}
| {% load wagtailuserbar %}

| {% block header_title %}{{ page.title }}{% endblock %}
| {% block box_title %}{{ page.title }}{% endblock %}

| {% block box_content %}
| {{ page.body|richtext }}
| {% wagtailuserbar 'bottom-left' %}
| {% endblock %}
