
{% extends "blender_fund/layout.html" %}
{% block content %}
<div class="container pb-3">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="box p-4">
        <h2 class="mt-0">Internal Server Error</h2>
        <p>
          There was an error handling your request. The error has
          been logged and we'll try and fix it as soon as possible.
        </p>
        <p>
          If the error keeps occurring, please contact
          <a href="mailto:{{ settings.ADMIN_MAIL }}">{{ settings.ADMIN_MAIL }}</a>.
        </p>
        <hr/>
        <h3>Technical details</h3>
        <p><small>The exception was of type <code>{{ ex_type }}</code> and said
            <code>{{ ex_value }}</code>.</small></p>
      </div>
    </div>
  </div>
</div>{% endblock %}