
{% extends "settings/base.html" %}
{% block content_settings %}
{{ block.super }}
<h2 class="mt-2 text-secondary">Billing Address</h2>
<form class="p-3" id="billing-address-form" method="post">
  <ul class="form">
    {% csrf_token %}
    {{ form.as_ul }}
  </ul>
  <hr/>
  <button class="btn btn-success px-5 mt-3" id="submit-billing-info" type="submit"><i class="fa fa-check"></i>Save Changes</button>
</form>{% endblock content_settings %}