
{% extends "pdf_layout.html" %}
{% block title %}Blender Development Fund Receipt #{{ order.id }}{% endblock %}
{% block main_content %}
<table style="width: 40em">
  <tr>
    <td colspan="2">
      <h4>Blender Development Fund Receipt</h4>
    </td>
  </tr>
  <tr>
    <th>Receipt ID</th>
    <td>{{ order.id }}</td>
  </tr>
  <tr>
    <th>Payment received on</th>
    <td>{{ order.paid_at|default:order.created_at }}</td>
  </tr>
  <tr>
    <th>Membership level</th>
    <td>{{ order.subscription.plan.name }}</td>
  </tr>
  <tr>
    <td colspan="2">
      <h4>Billing Address</h4>
    </td>
  </tr>
  <tr>
    <th>Address</th>
    <td>{{ order.billing_address|linebreaksbr }}</td>
  </tr>
  <tr>
    <th>E-mail</th>
    <td>{{ order.email }}</td>
  </tr>
  <tr>
    <td colspan="2">
      <h4>Payment Information</h4>
    </td>
  </tr>
  <tr>
    <th>Amount paid</th>
    <td>{{ order.price.with_currency_symbol_nonocents }}</td>{% with refunded=order.total_refunded %}
    {% if refunded %}
  </tr>
  <tr>
    <th>Amount refunded</th>
    <td>{{ refunded.with_currency_symbol_nonocents }}</td>{% endif %}
    {% endwith %}
  </tr>
  <tr>
    <th>Payment method</th>
    <td>{{ order.payment_method.recognisable_name }}</td>
  </tr>{% if order.payment_method.method_type == 'ba' %}
  <tr>
    <th>Bank details</th>
    <td>Bank: ING Bank, P/O Box 1800, Amsterdam, the Netherlands<br/>
      BIC/Swift code: INGB NL 2A (international code)<br/>
      IBAN: NL45 INGB 0009356121 (for euro accounts)<br/>
      Account #: 93 56 121
    </td>
  </tr>{% endif %}
</table>{% endblock %}