| {% extends "blender_fund/layout.html" %}

| {% block head %}
| {% load static %}
script(src="{% static 'js/vendor/select2.min.js' %}")
| {% endblock %}

| {% block content %}

.settings-wrapper
	.container
		.row
			.col-md-3
				| {% block sidebar %}
				.sidebar-nav
					ul
						li
							a(href="{% url 'settings_home' %}")
								| #[i.fa.fa-home] My Membership
						li
							a(href="{% url 'looper:settings_personal_info' %}")
								| #[i.fa.fa-user] Personal Info
						li
							a(href="{% url 'looper:settings_billing_info' %}")
								| #[i.fa.fa-address-book-o] Billing Address
						li
							a(href="{% url 'settings_receipts' %}")
								| #[i.fa.fa-list] Receipts
						li
							a(href="{% url 'looper:payment_methods' %}")
								| #[i.fa.fa-credit-card] Payment Methods

				| {% endblock sidebar %}

			.col-md-9
				.box.p-4
					| {% block content_settings %}
					| {% endblock content_settings %}

| {% endblock content %}

| {% block footer_scripts %}
script.
	//- Initialize the nicer country picker.
	let country_picker = $('#id_country');
	if (country_picker.length) country_picker.select2();
| {% endblock footer_scripts %}
