| {% extends "settings/base.html" %}

| {% block content_settings %}
h2.mt-2.text-secondary Payment Methods

form(method="post")
	| {% csrf_token %}
	p Are you sure you want to delete payment method "{{ object }}"?

	p.pt-3
		input.btn.btn-filled-danger.px-5(type="submit",value="Confirm Deletion")

		a.pl-3(href="{% url 'looper:payment_methods' %}")
			| Cancel
| {% endblock content_settings %}
