| {% extends "settings/base.html" %}

| {% block content_settings %}
| {{ block.super }}

h2.mt-2.text-secondary.
	Change Payment Method

p.
	Your #[strong {{ subscription.plan.name }} {{ subscription.plan.product.name }}] is currently using
	#[strong {{ current_payment_method.recognisable_name }}] as payment method.

	Feel free to change it below.

.m-3
	form#payment-method-change-form.form(method='post')
		| {% csrf_token %}

		section.checkout-form-fields.pt-4
			ul.form
				| {{ form.as_ul }}
			#gateway-errors

		hr

		.d-flex.align-items-center.pt-3
			a.p-3(href="{% url 'settings_home' %}")
				| Cancel

			button#change_payment_method_button.ml-auto.btn-success.form-submit.px-5(type='submit')
				i.fa.fa-check
				| Switch Payment method

| {% endblock content_settings %}

| {% block footer_scripts%}
script(src='https://js.braintreegateway.com/web/dropin/1.13.0/js/dropin.min.js')
script.
	let client_token = '{{ client_token }}';
	$("div[data-gateway-name='braintree']").braintree_gateway_group(
		'#change_payment_method_button', '#gateway-errors',
		'#id_payment_method_nonce', client_token);

| {% endblock footer_scripts%}
