| {% extends "settings/base.html" %}

| {% block content_settings %}
| {{ block.super }}
h2.mt-2.text-secondary Blender Development Fund Receipt

hr

.receipt.mt-4
	h4 Membership
	dl.dl-horizontal
		dt Receipt ID
		dd {{ order.id }}
		dt Payment received on
		dd {{ order.paid_at|default:order.created_at }}
		dt Membership level
		dd {{ order.subscription.plan.name }}

	h4 Billing Address
	dl.dl-horizontal
		dt Address
		dd {{ order.billing_address }}
		dt E-mail
		dd {{ order.email }}

	h4 Payment Information
	dl.dl-horizontal
		dt Amount paid
		dd {{ order.price.with_currency_symbol_nonocents }}
		| {% with refunded=order.total_refunded %}
		| {% if refunded %}
		dt Amount refunded
		dd {{ refunded.with_currency_symbol_nonocents }}
		| {% endif %}
		| {% endwith %}
		dt Payment method
		dd {{ order.payment_method.recognisable_name }}
| {% endblock content_settings %}
