<div class="navbar homepage" role="navigation"><div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand mobile-nav-logo" href="https://krita.org/en">
        <img src="https://krita.org/wp-content/themes/krita-org-theme/images/krita-logo.png" alt="Krita Logo">
    </a>
</div>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li class="hidden-xs">
            <a href="https://krita.org/en" class="brandingPadding">
                <img src="https://krita.org/wp-content/themes/krita-org-theme/images/krita-logo.png" alt="Krita Logo">
            </a>
        </li>
        <li id="menu-item-3410" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3410">
            <a href="/features/highlights/">Features</a>
        </li>
        <li id="menu-item-3411" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3411">
            <a href="/download/krita-desktop/">Download</a>
        </li>
        <li id="menu-item-3412" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3412">
            <a href="/about/history/">About</a>
        </li>
        <li id="menu-item-3413" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3413">
            <a href="/learn/education/">Learn</a>
        </li>
        <li id="menu-item-3414" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3414">
            <a href="/get-involved/overview/">Get Involved</a>
        </li>
        <li id="menu-item-3415" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3415">
            <a href="/support-us/donations/">Donate</a></li>
        <li id="menu-item-3416" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3416">
            <a href="https://krita.org/en/support-us/shop/">Shop</a>
        </li>
    </ul>
</div>

