
.progress
	@extend .box-shadow-subtle

.progress-container
	@extend .d-flex
	@extend .position-relative

	+media-xs
		flex-direction: column-reverse

.progress-label
	@extend .box-shadow-subtle
	@extend .position-absolute
	@extend .px-4
	@extend .py-2
	@extend .mb-3
	background-color: white
	border-radius: 999em
	border-bottom-left-radius: 0
	color: white

	+media-xs
		display: flex
		flex-direction: row-reverse
		justify-content: space-between

	span
		display: block

	+media-xs
		border-radius: 999em !important
		left: 0 !important
		position: relative !important
		width: 100% !important
		white-space: nowrap

	&.target
		left: 50%

	&.final
		background-color: hsl(165, 76%, 46%)
		border-radius: 999em
		border-top-right-radius: 0
		margin-top: $spacer
		position: initial !important
		right: 0

	&.current
		align-self: flex-end
		background-color: hsl(178, 73%, 37%)
		bottom: 0
		transform-origin: left
		z-index: 1

		+media-xs
			bottom: 0
			left: 0 !important
			width: 100% !important

			div
				flex-direction: row-reverse
				justify-content: space-between
				width: 100%

.progress-bar-target-met
	@extend .rounded-circle
	@extend .position-absolute
	color: white
	left: 50%
	width: 10px
	height: 10px
	transition: transform 150ms ease-in-out, color 150ms ease-in-out
	transform-origin: center bottom

	&:hover
		@extend .text-danger
		transform: scale(1.2)
