$stats-item-size: 16rem
$stats-item-background: hsl(165, 76%, 46%)
$stats-background: $color-background-light

.stats-container
	@extend .separator-slanted
	background-color: $stats-background
	position: relative
	z-index: 10

	&:after
		border-top-color: $stats-background !important
		border-right-color: transparent !important
		z-index: -1

.stats-content
	@extend .container
	@extend .d-flex
	flex-direction: column

	@include media-breakpoint-up(md)
		flex-direction: row

.stats-container,
.stats-items
	@extend .d-flex
	@extend .justify-content-center
	@extend .text-center

	@include media-breakpoint-up(lg)
		flex-direction: row
		padding-top: $spacer * 5

.stats-items
	align-items: flex-end
	flex-direction: column
	position: relative
	padding-top: $spacer * 5

	@include media-breakpoint-up(lg)
		top: $stats-item-size * -0.8
		margin-bottom: $stats-item-size * -0.8

.stats-item
	@extend .d-flex
	@extend .flex-column
	@extend .mx-5
	color: $light
	background-color: darken($stats-item-background, 5%)
	filter: drop-shadow(0 8px 0 rgba($stats-item-background,.33)) drop-shadow(0 15px 0 $stats-background) drop-shadow(0 -8px 0 rgba($stats-item-background,.33)) drop-shadow(0 -15px 0 $stats-background)
	margin-top: $spacer * 5
	position: relative
	width: $stats-item-size

	&:before,
	&:after
		border-left: ($stats-item-size / 2) solid transparent
		border-right: ($stats-item-size / 2) solid transparent
		content: ""
		position: absolute
		width: 0

	&:before
		border-bottom: ($stats-item-size / 3.33) solid darken($stats-item-background, 5%)
		bottom: 100%

	&:after
		border-top: ($stats-item-size / 3.33) solid darken($stats-item-background, 5%)
		top: 100%
		width: 0

	&.stats-pos-top
		background-color: $stats-item-background
		left: 50px

		@include media-breakpoint-up(md)
			left: unset

		&:before
			border-bottom-color: $stats-item-background
		&:after
			border-top-color: $stats-item-background

	&.stats-pos-middle
		margin-top: $spacer * 7
		right: 40%

		@include media-breakpoint-up(md)
			margin-top: $spacer * 6
			right: $stats-item-size / 1.11

	&.stats-pos-bottom
		background-color: darken($stats-item-background, 10%)
		left: 50px

		@include media-breakpoint-up(md)
			left: unset

		&:before
			border-bottom-color: darken($stats-item-background, 10%)
		&:after
			border-top-color: darken($stats-item-background, 10%)

	&.stats-size-small
		width: $stats-item-size / 1.5

		&:before,
		&:after
			border-left-width: ($stats-item-size / 3)
			border-right-width: ($stats-item-size / 3)

		&:before
			border-bottom-width: ($stats-item-size / 6)

		&:after
			border-top-width: ($stats-item-size / 6)

		.stats-sum,
		.stats-sum-name
			transform: unset
			@extend .p-0

	&.stats-pos-bottom
		right: $stats-item-size / 6

	.stats-sum,
	.stats-sum-name
		transform: scale(1.1)

	.currency-symbol
		font-size: 50%

.stats-sum
	@extend .align-items-center
	@extend .d-flex
	@extend .display-4
	@extend .font-weight-bold
	@extend .justify-content-center
	@extend .pt-3

.stats-sum-name
	@extend .font-weight-bold
	@extend .pb-3
	@extend .pt-1
	opacity: .8

.stats-intro
	font-size: 2em
	text-align: center
	padding-top: $spacer * 5
	margin-right: auto

	@include media-breakpoint-up(lg)
		font-size: 2.3em
		padding-right: $spacer * 8
		text-align: left

	a
		text-decoration: underline
